.manage-wrapper {
  text-align: center;
  padding: 2rem;
  background-color: rgb(247, 247, 247);
  margin: auto;
  width: 80%;
  min-width: 700px;
}

.manage-wrapper h1 {
  font-size: 20px;
}

.hull-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  min-width: 700px;
}

.hull-wrapper {
  width: 50%;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
}

.hull-input {
  min-width: 360px;
  width: 80%;
}

.block-wrapper {
  width: 50%;
  min-width: 704px;
  background-color: rgb(255, 255, 255);
}

.block-input {
  width: 80%;
}

.delete-wrapper {
  width: 90%;
  height: 200px;
}
