.hull-wrapper {
  text-align: center;
  padding: 2rem;
  background-color: rgb(247, 247, 247);
}

.hull-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

.input-wrapper {
  width: 30%;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
}

.hull-input {
  font-size: 20px;
  margin-right: 50px;
  min-width: 360px;
  width: 90%;
  float: left;
  padding: 1rem;
}
