.header {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
}

.header p {
  height: 15px;
  width: 8%;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
}
.wrapper p {
  height: 15px;
  width: 8%;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
