.manage-wrapper {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 100%;
  padding: 10px;
  height: auto;
  min-width: 700px;
}

.manage-wrapper h1 {
  font-size: 20px;
}

.hull-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  min-width: 700px;
  height: auto;
}

.hull-wrapper {
  width: 50%;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
}

.hull-input {
  min-width: 360px;
  width: 80%;
}

.block-wrapper {
  width: 50%;
  min-width: 704px;
  background-color: rgb(255, 255, 255);
}

.block-input {
  width: 80%;
}

.border-line {
  border: 1px solid black;
}

.list-wrapper {
  width: 90%;
  border: 3px solid rgb(232, 232, 232);
  padding: 30px;
  border-radius: 20px;
}
