.selet-wrapper {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-evenly;
  background-color: beige;
  border-radius: 20px;
}

.selet-wrapper section {
  width: 30%;
  padding: 10px;
  background-color: white;
  text-align: center;
}
