.emp-wrapper {
  text-align: center;
  padding: 2rem;
  background-color: rgb(247, 247, 247);
}

.emp-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

.emp-add {
  border: 1px solid black;
  width: 26%;
  padding: 20px;
  margin: 20px;
  height: 400px;
  min-width: 450px;
  border-radius: 50px;
}

.emp-input {
  font-size: 20px;
  margin-right: 50px;
  min-width: 360px;
  width: 80%;
  float: left;
  padding: 1rem;
}

.emp-list {
  text-align: center;
  border: 1px solid black;
  width: 26%;
  padding: 20px;
  height: 700px;
  border-radius: 50px;
}

.emp-info {
  text-align: center;
  border: 1px solid black;
  width: 26%;
  padding: 20px;
  height: 700px;
  border-radius: 50px;
}
