.wrapper {
  background-color: white;
  width: 99%;
  border-radius: 20px;
  border: 2px dotted #b3c9d3;
  overflow: hidden;
  min-width: 865px;
}

.header {
  width: 98%;
  display: flex;
  background-color: #7c9bb0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  justify-content: space-around;
  gap: 4px;
}

.header p {
  height: 20px;
  font-size: 12px;
  width: 9%;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.list-wrapper {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
  gap: 5px;
}

.list-wrapper p {
  width: 9%;
  height: 10px;
  padding: 3px;
  font-size: 13px;
}

.list-height {
  height: auto;
}

.MH {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  bottom: 12px;
  background: linear-gradient(to top, rgb(249, 249, 148) 30%, transparent 50%);
}
