.wrapper {
  background-color: white;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  border: 2px dotted blue;
  overflow: hidden;
  min-width: 865px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 4px;
}

.header p {
  height: 30px;
  font-size: 13px;
  width: 8%;
  padding: 5px 3px 1px 3px;
  background-color: beige;
  font-weight: bold;
  text-align: center;
}

.list-wrapper {
  display: flex;
  width: 100%;
  gap: 4px;
  justify-content: space-around;
}

.list-wrapper p {
  height: 14px;
  width: 7%;
  padding: 0 3px 1px 1rem;
  font-size: 15px;
}

.list-height {
  height: auto;
}

.MH {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  bottom: 12px;
  background: linear-gradient(to top, rgb(249, 249, 148) 30%, transparent 50%);
}
