.emp-wrapper {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  width: 90%;
  background-color: rgba(73, 73, 73, 0.205);
}

.emp-main {
  width: 45%;
  padding: 20px;
  min-width: 590px;
  background-color: white;
}

.emp-calendar {
  width: 45%;
  background-color: white;
  padding: 20px;
}
