.emp-wrapper {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}

.emp-main {
  width: 100%;
  height: auto;
}

.emp-main article {
  background-color: #fffffb;
  border: 1px dotted #415664;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  width: 85%;
  border-radius: 30px;
}

.emp-main .state {
}

.emp-main .form {
}

.work-list {
  min-width: 753px;
}
