.emp-wrapper {
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: flex;
}

.emp-main {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  gap: 20px;
}

.emp-main h3 {
  font-size: 2vw;
  padding: 10px 0;
  font-family: "Sans Bold";
  text-align: center;
}

.emp-main article {
  width: 80%;
  background-color: #406d87;
  border: 2px solid #1f333e;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  height: auto;
}

.emp-main form {
  padding-top: 30px;
  padding: 0 5vw;
}

.work-list {
}

.list-des {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  height: auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.work-header {
  color: #ffffff;
}
