.emp-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

.emp-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.emp-main h3 {
  font-size: 2vw;
  padding: 10px 5px;
  font-family: "Sans Bold";
  text-align: center;
}

.emp-main article {
  width: 80%;
  background-color: #406d87;
  border: 2px solid #1f333e;
  margin: 0 auto;
  padding: 10px;
  border-radius: 30px;
  height: auto;
}

.emp-main .work-list {
  min-width: 870px;
}

.list-des {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  height: auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.work-header {
  color: #ffffff;
}
