@media (max-width: 1100px) {
  .list-des {
    display: none;
  }
  .emp-main .state {
    display: none;
  }
  .emp-main .work-list {
    width: 90%;
  }
}

@media (min-width: 1100px) {
  .list-des {
    display: none;
  }
  .emp-main .state {
    display: none;
  }
  .emp-main .work-list {
    width: 90%;
  }
}

.emp-wrapper {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.emp-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emp-main h3 {
  font-size: 20px;
  text-align: center;
}

.emp-main article {
  background-color: #406d87;
  width: 50%;
  min-width: 600px;
  border: 8px double #b3c9d3;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  height: auto;
}

.emp-main .work-list {
  min-width: 870px;
}

.list-des {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  height: auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.work-header {
  color: #ffffff;
}
