.wrapper {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  background-color: #19405e;
}

.main {
  width: 100%;
  height: 630px;
  margin: 0 auto;
  padding: 10px;
  background-color: #19405e;
}

.header-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #19405e;
}

.header {
  /* border: 1px dotted black; */
  height: 100px;
  width: 50%;
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.logo {
  height: 90px;
  width: 100px;
  font-size: 20px;
  text-align: center;
  color: #fffffb;
  background-color: #80b3ce;
}

.main .button {
  height: 100px;
  margin-top: 30px;
  width: 20%;
  background-color: #80b3ce;
  font-size: 20px;
  font-weight: bold;
  color: #fcfcfc;
}

.body-section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  bottom: 390px;
  background-color: #37637e;
}
